<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# fixed error with line 11 with 'nvm install --lts' which gives you the lates stable version of node%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
    <%# Font for logo and display text home page %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
    <%# Font for navbar about and article %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap" rel="stylesheet">
  
  </head>
  
  <body>
      <%= render 'layouts/navigation'%>
      <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
</html>
